# Recursive Extension-based ignore
*.cmake

# Exact path ignore
/kernel/nbproject/private
/userhdhomerun/build
/userhdhomerun/CMakeCache.txt
/userhdhomerun/CMakeFiles
/userhdhomerun/config.h
/userhdhomerun/nbproject/private
